.container-fluid {
	width:100%;
	margin:1%;
}

.imagem{
    max-height:15%;
    width:100%;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > 
  img {
      width: 70%;
      margin: auto;
  }
.sfs {
	text-align:center;
}	

.jumbotron {
	margin:1% 0 1% 0;
}	


