.container-fluid {
	width:100%;
	margin:1%;
}

.quem {
	text-align:center;
}

.assunto {
	text-align:justify;
}	

.espaco {
    margin-top:5%;
}
.menusup {
    margin-top:-1%;
}

.imagem{
    max-height:15%;
    width:100%;
}

.menudefotos{
    height:15%;
    
}
.tamanhodiv {
    width:80%;
}

.jumbotron {
	margin:1% 0 1% 0;
}	
